.b-welcome {
    padding: 120px 0;
    background: $wheaty;

    @include media(md, max) {
        padding: 50px 16px;
    }

    .hero {
        &__title {
            font-size: 50px;
            font-weight: 700;
        }

        &__text {
            font-size: 16px;
            font-weight: 300;
            max-width: 350px;
        }
    }
}