$white: #fff;
$black: #000;
$dark: #121111;
$primaryColor: #161524;
$primaryColorAccent: #f9f5f5;
$culturedWhite: #f5f5f5;
$textColor: #2d3960;

/* Master Colors */
$blue: #445ddb;
$dark-blue: #161524;

$wheaty: #f9f5f5;